<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>



<br><br>
<div class = "flex-container manage_account">

    <div class = "column">
        <h2>Addresses</h2>
                <select size = "5" id = "address_box" onchange="address_box_click()">

                </select>
        <ul>
            <li class="fr">
                <label >Building No  </label>
                <input id = "bn_reg_input" type = "text" value = "">
            </li>
            <li class="fr">
                <label >Direction     </label>
                <input id = "direction_reg_input" type = "text" value = "">
            </li>
            <li class="fr">
                <label >Street Name      </label>
                <input id = "street_reg_input" type = "text" value = "">
            </li>

            <li class="fr">
                <label >City   </label>
                <input id = "city_reg_input" type = "text" value = "">
            </li>
            <li class="fr">
                <label >State       </label>
                <input id = "state_input" type = "text" value = "">
            </li>
            <li class="fr">
                <label >Country       </label>
                <input id = "country_input" type = "text" value = "">
            </li>
            <li class="fr">
                <label >Zip Code</label>
                <input id = "zip_input_check" type = "text" value = "">
            </li>
        </ul>

        <button class = "btn btn-outline-primary button_options" onclick="AddAddress()">Add</button>
        <button class = "btn btn-outline-primary button_options" onclick="RemoveAddress()">Remove</button>
        <button class = "btn btn-outline-primary button_options" onclick="ModifyAddress()">Modify</button>
    </div>
    <div class = "column">
        <h2>Credit Cards</h2>
                <select size = "5" id = "card_box" onchange="card_box_click()">

                </select>
        <ul>
            <li class="fr">
                <label >Card Number</label>
                <input id = "cc_number" type = "text" value = "">
            </li>
            <li class="fr">
                <label >Name on Card</label>
                <input id = "cc_name" type = "text" value = "">
            </li>
            <li class="fr">
                <label >Expiration Date</label>
                <input id = "cc_exp" type = "date" value = "">
            </li>
            <li class="fr">
                <label >Type</label>
                <input id = "cc_type" type = "text" value = "">
            </li>
            <li class="fr">
                <label >Payment Address</label>
                <input id = "cc_address" type = "text" value = "">
            </li>
        </ul>

        <button class = "btn btn-outline-primary button_options" onclick="AddCard()">Add</button>
        <button class = "btn btn-outline-primary button_options" onclick="RemoveCard()">Remove</button>
        <button class = "btn btn-outline-primary button_options" onclick="ModifyCard()">Modify</button>
    </div>
</div>


<script>

    jQuery.getJSON('/get_addresses',populate_addresses);
    jQuery.getJSON('/get_credit_cards',populate_credit_cards);

    var addresses = {};
    var cards = {};



    function populate_addresses(data) {
          console.log(data);
        addresses = data;
        abox = document.getElementById("address_box");
        abox.innerHTML = "";

        for(var i in data) {
            address = data[i]
            opt = document.createElement("option");
            abox.appendChild(opt);
            opt.innerHTML = address['address'];
        }

    }

    function populate_credit_cards(data) {

        cards = data;
        cbox = document.getElementById("card_box");
        cbox.innerHTML = "";

        for(var i in data) {
            card = data[i]
            opt = document.createElement("option");
            cbox.appendChild(opt);
            opt.innerHTML = card['card_no'];
        }

    }

    function address_box_click(){
        abox = document.getElementById("address_box");
        selection = abox.selectedOptions[0].value;

        address = addresses[selection];

        ip = document.getElementById("bn_reg_input");
        ip.value = address.building_no;

        ip = document.getElementById("direction_reg_input");
        ip.value = address.direction;

        ip = document.getElementById("street_reg_input");
        ip.value = address.street;

        ip = document.getElementById("city_reg_input");
        ip.value = address.city;

        ip = document.getElementById("state_input");
        ip.value = address.state;

        ip = document.getElementById("country_input");
        ip.value = address.country;

        ip = document.getElementById("zip_input_check");
        ip.value = address.zipcode;
    }

    function card_box_click(){
        cbox = document.getElementById("card_box");
        selection = cbox.selectedOptions[0].value;

        card = cards[selection];

        ip = document.getElementById("cc_number");
        ip.value = card.card_no;

        ip = document.getElementById("cc_name");
        ip.value = card.name_on_card;

        ip = document.getElementById("cc_exp");
        ip.value = card.exp_date;

        ip = document.getElementById("cc_type");
        ip.value = card.type;

        ip = document.getElementById("cc_address");
        ip.value = card.address;

    }

     function AddAddress() {


            var bn = document.getElementById("bn_reg_input").value;
            var direction = document.getElementById("direction_reg_input").value;
            var street = document.getElementById("street_reg_input").value;
            var city = document.getElementById("city_reg_input").value;
            var state = document.getElementById("state_input").value;
            var country = document.getElementById("country_input").value;
            var zipcode = document.getElementById("zip_input_check").value;

            var callback =  $.ajax({
            type: "POST",
            url: "/add_address",
            data: JSON.stringify({
                                building_number:bn,
                                direction:direction,
                                street:street,
                                city:city,
                                state:state,
                                country:country,
                                zipcode:zipcode}),
            contentType: "text/json; charset=utf-8",
            dataType: "text",
            success: function (msg) {
                jQuery.getJSON('/get_addresses',populate_addresses);
            alert(msg);
          }
      });
    }

    function AddCard() {
            abox = document.getElementById("address_box");

            if (abox.selectedOptions.length === 0) {
                alert('Must select an address for billing!');
            }
            else {


                var card_no = document.getElementById("cc_number").value;
                var name_on_card = document.getElementById("cc_name").value;
                var exp_date = document.getElementById("cc_exp").value;
                var type = document.getElementById("cc_type").value;
                var address = abox.selectedOptions[0].value;

                var callback =  $.ajax({
                type: "POST",
                url: "/add_credit_card",
                data: JSON.stringify({
                                    card_no:card_no,
                                    name_on_card:name_on_card,
                                    exp_date:exp_date,
                                    type:type,
                                    address:address}),
                contentType: "text/json; charset=utf-8",
                dataType: "text",
                success: function (msg) {
                    jQuery.getJSON('/get_credit_cards',populate_credit_cards);
                alert(msg);
              }
          });
            }



    }

    function RemoveAddress() {
            abox = document.getElementById("address_box");
            selection = abox.selectedOptions[0].value;



            var callback =  $.ajax({
            type: "POST",
            url: "/remove_address",
            data: JSON.stringify({
                                address_id:selection}),
            contentType: "text/json; charset=utf-8",
            dataType: "text",
            success: function (msg) {
                jQuery.getJSON('/get_addresses',populate_addresses);
            alert(msg);
          }
      });

    }

    function RemoveCard() {
            cbox = document.getElementById("card_box");
            selection = cbox.selectedOptions[0].value;



            var callback =  $.ajax({
            type: "POST",
            url: "/remove_credit_card",
            data: JSON.stringify({
                                card_no:selection}),
            contentType: "text/json; charset=utf-8",
            dataType: "text",
            success: function (msg) {
                jQuery.getJSON('/get_credit_cards',populate_credit_cards);
            alert(msg);
          }
      });

    }

    function ModifyAddress() {

            abox = document.getElementById("address_box");
            selection = abox.selectedOptions[0].value;
            var bn = document.getElementById("bn_reg_input").value;
            var direction = document.getElementById("direction_reg_input").value;
            var street = document.getElementById("street_reg_input").value;
            var city = document.getElementById("city_reg_input").value;
            var state = document.getElementById("state_input").value;
            var country = document.getElementById("country_input").value;
            var zipcode = document.getElementById("zip_input_check").value;

            var callback =  $.ajax({
            type: "POST",
            url: "/modify_address",
            data: JSON.stringify({
                                building_number:bn,
                                direction:direction,
                                street:street,
                                city:city,
                                state:state,
                                country:country,
                                zipcode:zipcode,
                                old_address:selection}),
            contentType: "text/json; charset=utf-8",
            dataType: "text",
            success: function (msg) {
                jQuery.getJSON('/get_addresses',populate_addresses);
            alert(msg);
          }
      });
    }

    function ModifyCard() {

            abox = document.getElementById("address_box");

            if (abox.selectedOptions.length === 0) {
                alert('Must select an address for billing!');
            }
            else {
                cbox = document.getElementById("card_box");
                var address = abox.selectedOptions[0].value;

                var card_no = cbox.selectedOptions[0].value;


                var callback =  $.ajax({
                type: "POST",
                url: "/modify_credit_card",
                data: JSON.stringify({
                                    card_no:card_no,
                                    new_address:address}),
                contentType: "text/json; charset=utf-8",
                dataType: "text",
                success: function (msg) {
                    jQuery.getJSON('/get_credit_cards',populate_credit_cards);
                alert(msg);
              }
          });
            }
    }
</script>

</body>
</html>