<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<br><br>
<div class = "flex-container register_user">
    <ul class="cont">
        <h2>New Account Info</h2>
        <li class="fr">
            <label >Email Address  </label>
            <input id = "email_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >First Name     </label>
            <input id = "first_name_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Last Name      </label>
            <input id = "last_name_reg_input" type = "text" value = "">
        </li>

        <li class="fr">
            <label >Home Airport   </label>
            <input id = "home_airport_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Password       </label>
            <input id = "password_reg_input" type = "password" value = "">
        </li>
        <li class="fr">
            <label >Re-Type Password</label>
            <input id = "password_reg_input_check" type = "password" value = "">
        </li>

        <h2>Address</h2>
        <li class="fr">
            <label >Building No  </label>
            <input id = "bn_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Direction     </label>
            <input id = "direction_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Street Name      </label>
            <input id = "street_reg_input" type = "text" value = "">
        </li>

        <li class="fr">
            <label >City   </label>
            <input id = "city_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >State       </label>
            <input id = "state_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Country       </label>
            <input id = "country_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Zip Code</label>
            <input id = "zip_input_check" type = "text" value = "">
        </li>




    </ul>

      <button class = "btn btn-outline-primary button_options" onclick="RegisterUser()">Register User</button>
</div>
<script>

    function RegisterUser() {

            var email = document.getElementById("email_reg_input").value;
            var first_name = document.getElementById("first_name_reg_input").value;
            var last_name = document.getElementById("last_name_reg_input").value;
            var password = document.getElementById("password_reg_input").value;
            var password_check = document.getElementById("password_reg_input_check").value;
            var home_airport = document.getElementById("home_airport_reg_input").value;

            var bn = document.getElementById("bn_reg_input").value;
            var direction = document.getElementById("direction_reg_input").value;
            var street = document.getElementById("street_reg_input").value;
            var city = document.getElementById("city_reg_input").value;
            var state = document.getElementById("state_input").value;
            var country = document.getElementById("country_input").value;
            var zipcode = document.getElementById("zip_input_check").value;

            var callback =  $.ajax({
            type: "POST",
            url: "/register_user",
            data: JSON.stringify({email:email,
                                first_name:first_name,
                                last_name:last_name,
                                home_airport:home_airport,
                                password:password,
                                password_check:password_check,
                                building_number:bn,
                                direction:direction,
                                street:street,
                                city:city,
                                state:state,
                                country:country,
                                zipcode:zipcode}),
            contentType: "text/json; charset=utf-8",
            dataType: "text",
            success: function (msg) {

            alert(msg);
          }
      });
    }
</script>
</body>
</html>

