<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
<br><br>
<div class = "flex-container register_user">
    <ul class="wrapper">
        <li class="form-row">
            <label >Email Address </label>
            <input id = "email_reg_input" type = "text" value = "">
        </li>
        <li class="form-row">
            <label >Name </label>
            <input id = "name_reg_input" type = "text" value = "">
        </li>
        <li class="form-row">
            <label >Home Airport </label>
            <input id = "home_airport_reg_input" type = "text" value = "">
        </li>
        <li class="form-row">
            <button class = "btn btn-outline-primary button_options">Register User</button>
        </li>
    </ul>




</div>

</body>
</html>