<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<br><br>
<div class = "flex-container register_user">
    <ul class="cont">
        <li class="fr">
            <label >Email Address </label>
            <input id = "email_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Name </label>
            <input id = "name_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <label >Home Airport </label>
            <input id = "home_airport_reg_input" type = "text" value = "">
        </li>
        <li class="fr">
            <button class = "btn btn-outline-primary button_options" onclick="RegisterUser()">Register User</button>
        </li>
    </ul>




</div>
<script>

    function RegisterUser() {

            var email = document.getElementById("email_reg_input").value;
            var name = document.getElementById("name_reg_input").value;
            var home_airport = document.getElementById("home_airport_reg_input").value;

            var callback =  $.ajax({
            type: "POST",
            url: "/register_user",
            data: JSON.stringify({email:email,name:name,home_airport:home_airport}),
            contentType: "text/json; charset=utf-8",
            dataType: "text",
            success: function (msg) {

            alert(msg);
          }
      });
    }
</script>
</body>
</html>

